
.bola{
  position: fixed;
  left: 10px;
  z-index: -1;
  animation: gato-animation 2.5s ease infinite;
}

.bola2{
  position: fixed;
  right: 10px;
  z-index: -1;
  animation: gato-animation 2.5s ease infinite;
}

@keyframes gato-animation {
  0% {
    scale: 50%;
  }
  50% {
    scale: 150%;
  }
  100% {
    scale: 50%;
  }
}

.stretch {
  top:0;
  position: fixed;
  width:100%;
  height:100%;
  z-index: -1;
}

a {
  text-decoration: none;
}

.cavalo{
  text-decoration: none;
  font-size: 220%;
  text-align: center;
  font-family: monospace;
  margin-top: 100px;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #00aeff, #00aeff, #13a8ce, #5bc8ef, #e7e7e7, #e7e7e7, #e7e7e7, #ee82a5, #ed81a5, #ff4fcd, #ff4fcd);
  background-size: 400% 400%;
  animation: gradient-animation 5s ease infinite;
  /* animation: spin-animation 5s linear infinite; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* @keyframes spin-animation {
  0% {
    transform:rotate(0deg);
  }
  50% {
    transform:rotate(180);
  }
  100% {
    transform:rotate(360deg);
  }
} */