:root {
  --default-font-size: 2.5rem;
}

body {
  background: #282a36;
  color: #f8f8f2;
  font-size: var(--default-font-size);
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 3rem;
}

.title {
  margin: 1rem;
  font-size: calc(var(--default-font-size) * 1.5);
}

a:link,
a:visited {
  color: #8BE9FD;
}

a:hover {
  color: #BD93F9;
  transform: rotate(90deg);
}

a:active {
  color: #44475A;
}

.games {
  padding-left: 2rem;
}

.games_item::before {
  content: "👉";
  text-decoration: none;
  transition: all 0.2s;
}

.games_item:has(a:hover) {
  font-size: calc(var(--default-font-size) * 1.1);
}
